.tablePROGRESS {
    background-color: #E4E4E4;
    min-width: 135px;
    width: calc(20% - 5px);
    max-width: 30vh;
    padding: 2px;
    margin: 2px 2px 0 2px !important;
    float: left;
}
.container-dashboard{
    overflow: auto;
    height: calc(100vh - 200px);

}
@media screen and (max-height: 820px) {
    .container-dashboard {
        height: calc(100vh - 300px)!important;
    }
}

@media screen and (max-width: 1000px) {
    .container-innerDashboard{
        width: 1000px;
        height: auto;
    }
    .container-dashboard{
        display: inline-block!important;
        height: calc(100vh - 250px);
        overflow-x: scroll;
        overflow-y: scroll;
        width: calc(100% - 20px);
        white-space: normal;
    }
    .tablePROGRESS{
        display: inline-block!important;
    }

}
#dashBoardRef{
    color: #95999c;
}

.board {
    display: inline;
}

.cardBox {
    padding: 1px;
    margin-bottom: 1px;
}

.card-body{
    padding: 10px 10px 0 10px!important;
}
.thead-light {
    padding: 2px;
    font-size: small;
    text-align: left;
    margin-bottom: 8px !important;
}
.card-title{
    font-size: 95%;
}
#icons{
    position: relative!important;
    bottom: 3px!important;
}
.card {
    /*min-width: 100px;*/
    min-height: 80px;
    height: auto;
    max-height: 120px;
    width: 100%;
    margin: 0 0 3px 0!important;
    padding: 1px;
}


.empty_card {
    position: relative;
    background-color: #F2F2F2;
    background-image: linear-gradient(to right, darkgray 20%, #F4F4F4 80%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    border-color: gray;
    border-width: 2px;
    border-style: dashed;
    height: 80px;
    max-height: 120px;
    display: none;
    margin: 0;
    padding: 1px;
}


tr {
    margin: 0 0 0 0;
}

td {
    margin: 2px 0 2px 0;
}

table {
    margin: 0 0 0 0 !important;
}
#showWindowAddingCard {
    height: 500px;
    width: 500px;
    background-color: #fcf8e3;
    color: black;
}
.ButtonWithInitials{
    border-radius: 50%;
    height: 38px!important;
    width: 38px!important;
    text-align: center!important;
    font-size: 100%;
    vertical-align: middle!important;
    overflow: hidden;
    padding : 6px 2px 4px 2px ;
}
#ButtonWithInitials:hover{
    background: #668ad8!important;
}

/*searching bar*/
* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.modaledit{
    width: 80vh;
}

@media screen and (max-width: 990px){
    .modaledit {width: 100%;}
}

.ButtonWithInitialsIcon{
    border-radius: 50%;
    height: 22px!important;
    width: 22px!important;
    text-align: center!important;
    font-size: 55%;
    vertical-align: middle!important;
    overflow: hidden;
    padding : 3px 2px 3px 2px ;

}
.userBox{

    float: right;
}
.badge{
    height: 18px!important;
}
.spacer{
    height: 40px;
}
.required,.errorRED
{
    color: red;
}
.formAutoControl{
    width: 300px;
}
@media  screen and (max-width: 576px){
    .formAutoControl{
        width: 230px!important;
    }
}
#user{
    width: 100% !important;
}