body, html {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.container-fluid {
    min-height: 100vh;

    width: 100%;
    height: inherit;
    padding: 0 !important;
    margin: 0 auto;

}

#tools {
    position: relative;
    min-width: 50px;
    height: inherit;
    min-height: 100vh;
    align-content: center!important;
    width: 3%;
    margin: 0 !important;
    float: left;
}

#project_menu {
    min-width: 160px;
    position: relative;
    height: inherit;
    min-height: 100vh;
    width: 14%;
    background-color: #F6F6F6;
    margin: 0 !important;
    float: left;
}

#main {
    position: relative;
    min-height: 100vh;
    height: auto;
    min-width: 60%;
    width: 83%;
    margin: 0 !important;
    float: left;
    padding-left: 1.8% !important;

}