<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/projectBar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>

    <script src="https://kit.fontawesome.com/714c995d82.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div id="navbar">
        <div th:replace="fragment_navbar/navbar :: navbar(${ActualUser})">...</div>
    </div>

    <div id="dashboard">
        <div th:replace="fragments_dashboard/dashBoardFragment :: dashBoard(${taskList},${progress_steps},${ActualDashBoard},${ActualUser},${ActualUserInitialLetters},${userList})"></div>

        <section layout:fragment="content"></section>

<!--        <section layout:fragment="add_card"></section>-->
<!--        <section layout:fragment="edit_card"></section>-->

    </div>
</div>

</body>
<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.4.1/js/bootstrap.bundle.js"></script>

<section layout:fragment="scripts">
    <p></p>
</section>

</html>