<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutDashboard.html}">
<head>
    <title>Nowe Zadanie -Organizer</title>
</head>

<th:block layout:fragment="content">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Utwórz zgłoszenie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}"
                      th:object="${newTask}" method="post">
                    <div class="modal-body">
                        <div class='form-group'>
                            <label for='project'> Projekt</label><span class="required">*</span>
                            <select id='project' th:field="${newTask.project}">
                                <option th:each="project:${projectList}"
                                        th:value="${project.id}"
                                        th:text="${project.name}"
                                        th:selected="${project.id==actualDashBoard.id}"

                                ></option>
                            </select>
                            <div th:if="${#fields.hasErrors('project')}" class="errorRED" th:errors="*{project}">Wybierz projekt </div>

                        </div>
                        <br>

                        <div class='form-group'><label for='typeOfStory'> Typ zgłoszenia</label><span class="required">*</span>
                            <select id='typeOfStory' th:field="${newTask.typeOfStory}">
                                <option th:each="type:${T(com.khryniewicki.organizer.main_content.model.TypeOfStory).values()}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                            <div th:if="${#fields.hasErrors('typeOfStory')}" class="errorRED" th:errors="*{typeOfStory}">Wybierz typ zgłoszenia </div>

                        </div>

                        <div class='form-group'>


                        </div>
                        <br>
                        <div class='form-group'>
                            <label for='name'> Podsumowanie</label><span class="required">*</span>
                            <input id='name' class='form-control' type='text' th:field="${newTask.name}">
                            <div th:if="${#fields.hasErrors('name')}" class="errorRED" th:errors="*{name}">Popraw nazwę podsumowania </div>

                        </div>
                        <div class='form-group'><label for='description'> Opis</label>
                            <textarea id='description' class='form-control' type='text'
                                      th:field="${newTask.description}" rows="5"></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                 class="errorRED">Popraw nazwę opisu
                            </div>

                        </div>


                        <div class='form-group'><label for='Priority'> Priorytet</label><span class="required">*</span>
                            <select id='Priority' th:field="${newTask.priority}">
                                <option th:each="priority:${T(com.khryniewicki.organizer.main_content.model.Priority).values()}"
                                        th:value="${priority}"
                                        th:text="${priority}"
                                ></option>
                            </select>
                            <div th:if="${#fields.hasErrors('Priority')}" th:errors="*{priority}">Wybierz priorytet </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Utwórz</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zakończ</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script src="../../js/dashboard/addTask.js"></script>
</th:block>
