<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutProjects.html}">
<head>
    <title>Edycja Projektu - Organizer</title>
</head>
<th:block layout:fragment="editProject">
    <div class="modal fade" id="myEditProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Edytuj zgłoszenie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}"
                      th:object="${oldProject}" method="post">
                    <div class="modal-body">

                        <div class='form-group'>
                            <label for='name'> Nazwa projektu</label><span class="required">*</span>
                            <input id="name" name="name" class='form-control' type='text'
                                   th:field="${oldProject.name}">
                            <div th:if="${#fields.hasErrors('name')}" class="errorRED" th:errors="*{name}">Nazwij projekt </div>

                        </div>

                        <br>

                        <div class='form-group'>
                            <label for='description'> Opis projektu</label>
                            <input id="description" name="oldProject.description" class='form-control'
                                   type='text' th:field="${oldProject.description}">
                            <div th:if="${#fields.hasErrors('description')}" class="errorRED" th:errors="*{description}">Dodaj opis </div>

                        </div>
                        <label> Avatar</label> <span class="required">*</span>
                        <br>

                        <div class="dropdown ">
                            <img class="avatar_edit " id="img_edit_menu1" th:src="'img/'+${oldProject.avatar}">

                            <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Wybierz avatar
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="avatar_box" role="group">

                                    <button th:id="${avatar}" type="button" class="btn btn_avatar"
                                            th:each="avatar:${avatarList}" onclick="getIMG(this.id)">
                                    <span>
                                   <img class="avatar_edit" th:src="'img/icons/'+${avatar}">
                                    </span>
                                    </button>
                                </div>

                            </div>

                        </div>

                        <input type="text" id="avatar" th:name="avatar" th:field="*{avatar}"
                               style="display: none">
                        <div th:if="${#fields.hasErrors('avatar')}" class="errorRED" th:errors="*{avatar}"> </div>

                        <br>

                        <div class='form-group'>
                            <label for='admin'> Kierownik projektu</label><span class="required">*</span>
                            <select id='admin' th:field="*{admin}" >
                                <option th:each="user:${usersAssignedToProject}" th:value="${user.email} " aria-describedby="adminHelp"
                                        th:text="${user.name + ' '+ user.surname}"
                                        th:selected="${user.email==oldProject.admin}"></option>
                            </select>
                            <small id="adminHelp" class="form-text text-muted">Zmiana kierownika projektu spowoduje brak dostępu do edycji.</small>

                            <div th:if="${#fields.hasErrors('admin')}" class="errorRED" th:errors="*{admin}">Nazwij projekt </div>

                        </div>

                        <div class="modal-footer">
                            <a type="button" th:href="@{/deleteProject(id=${oldProject.id})}"
                               class="btn btn-warning">Usuń</a>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script src="/js/projectBrowser/editProject.js"></script>
</th:block>